logs
pids
.npm
.env
dist
.out
tmp/
*.log
*.pid
*.tgz
.next
.nuxt
dist/
temp/
build
*.seed
*.lcov
.grunt
.cache
lib-cov
coverage
typings/
.env.test
.fusebox/
*.pid.lock
.dynamodb/
.tern-port
.nyc_output
.env*.local
.eslintcache
.rpt2_cache/
.serverless/
.vscode-test
.lock-wscript
build/Release
node_modules/
*.tsbuildinfo
.parcel-cache
npm-debug.log*
jspm_packages/
.storybook-out
yarn-debug.log*
yarn-error.log*
.stylelintcache
.rts2_cache_es/
.yarn-integrity
lerna-debug.log*
bower_components
.rts2_cache_cjs/
.rts2_cache_umd/
storybook-static
.node_repl_history
.cache/.vuepress/dist
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json